.card{
	border:none;
	width: 500px;
	padding:40px;
	position:absolute;
	text-align: center;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	background: white;
}
#alertBox2 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10%;
}