.reviews{
  height: 200px; /* Set the desired height */
  overflow: auto; /* Enable scrolling when content overflows */
  /* Additional styles if needed */
  margin-bottom: 100px;
}


.reviews{
  width: 50%;
}