<!-- <div class="header">
  <div class = "top_buttons_overview">
  <button type="button" class = "button" id = "signUpButton_overview" (click)="signUp()">Sign up</button>
  <button type="button" class = "button" id = "loginButton_overview" (click)="login()">Login</button>
  <button type="button" class = "button" id = "logOutButton_overview" (click)="logOut()">Log out</button>
  </div>
      <h1>SENTIMENT ANALYSIS FOR {{courseCodeShortened}}</h1>
</div> -->

<!-- <div class="emotion" (click) = "showCourseDescription()">
      <img  id = "image" src="../assets/positive.png" alt="icon">
      <p id ="emotion_text">Click on me to see the course information</p>
</div>    -->
<!-- <div style="display: block">
  <canvas id="piechart"></canvas>
</div> -->

  <!-- <canvas baseChart
      [type]="'pie'"
      [datasets]="pieChartDatasets"
      [labels]="pieChartLabels"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
</canvas> -->


<!-- <body>


  <div class="course_description">
    <button id="close_button" (click) = "hideCourseDescription()">Close</button>
    <p><strong>Course Description:</strong></p>
    <p id = "course_description">{{course_description}}</p>
    <p id = "faculty"><strong>Faculty: </strong>{{faculty}}</p>
    <p id = "course_details">{{course_details}}</p>
    <p id = "course_prerequisites">{{course_prerequisites}}</p>
</div>

  
  <div>


 <div class = "robot">
      <img id="robot" src="../assets/robot.gif" alt="icon">
        <div class ="speech_bubble_overview">
          <p id = "speechTextOverview">{{speechBubbleText}}</p>
        </div>
    </div>  
      <div class="test">

  </div>



    <h2>Reviews</h2>
    <div class="reviews">
      <ul id="container"></ul>
    </div>


    <button type="button" class = "box" id="go-back-to-home" (click)="goBackToHome()">Go back to home</button>
    <button type="button"class = "box" id="review" (click)="makeReview()">Make a review for {{courseCodeShortened}}</button>
  </div>


</body>
<div class="footer">
     
</div> -->



<div class="navigationBar">
  <div class="back">
      <a class = "box" id="go-back-to-home" (click)="goBackToHome()">
        <img src="../assets/back.png" alt="go back button" id="goBackImg"> Back</a>
  </div>

  <div class="selection">
    <ul>
      <li><a (click)="openWindow('Analysis')">Analysis Result</a></li>
      <li><a (click)="openWindow('Overview')">Overview</a></li>
      <li><a (click)="openWindow('List')">List Review</a></li>
      <li><a (click)="makeReview()">Review Course</a></li>
    </ul>
  </div>



  <div class="account">
    <button type="button" class = "button" id = "signUpButton_overview" (click)="signUp()">Sign up</button>
    <button type="button" class = "button" id = "loginButton_overview" (click)="login()">Login</button>
    <button type="button" class = "button" id = "logOutButton_overview" (click)="logOut()">Log out</button>
  </div>

</div>


<div class="display">
   <div class="title">
    <img id = "image" src="../assets/positive.png" alt="icon">
      <h1>{{courseCodeWithoutUnits}}</h1>
    </div>
  <div class="window"id="Overview">
    
    <p><span>Course Description:</span></p>
    <p id = "course_description">{{course_description}}</p>
    <p id = "faculty"><span>Faculty: </span>{{faculty}}</p>
    <p id = "course_details">{{course_details}}</p>
    <p id = "course_prerequisites">{{course_prerequisites}}</p>

  </div>

  <div class="window " id="Analysis">
    <!-- <h1>Analysis For {{courseCodeWithoutUnits}}</h1> -->
  <div class="analysisChild pieChart">
      <canvas baseChart 
      [type]="'pie'"
      [datasets]="pieChartDatasets"
      [labels]="pieChartLabels"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
  </canvas> 

  </div>

  <div class="bar-container analysisChild">

  <div class ="bar-title">
    <p class ="bar-title-text">🌟 {{star_percentages[0]}}%</p>
    <div class="bar" style="
        --bar-width: {{stars[0]}}%;  
        --bar-color: {{barColor}}; 
    "></div>  
  </div>

  <div class ="bar-title">
    <p class ="bar-title-text">🌟 🌟 {{star_percentages[1]}}%</p>
    <div class="bar" style="
        --bar-width: {{stars[1]}}%;  
        --bar-color: {{barColor}}; 
    "></div>  
  </div>
  <div class ="bar-title">
    <p class ="bar-title-text">🌟 🌟 🌟 {{star_percentages[2]}}%</p>
    <div class="bar" style="
        --bar-width: {{stars[2]}}%;  
        --bar-color: {{barColor}}; 
    "></div>  
  </div>
  <div class ="bar-title">
    <p class ="bar-title-text">🌟 🌟 🌟 🌟 {{star_percentages[3]}}%</p>
    <div class="bar" style="
        --bar-width: {{stars[3]}}%;  
        --bar-color: {{barColor}}; 
    "></div>  
  </div>
  <div class ="bar-title">
    <p class ="bar-title-text">🌟 🌟 🌟 🌟 🌟 {{star_percentages[4]}}%</p>
    <div class="bar" style="
        --bar-width: {{stars[4]}}%;  
        --bar-color: {{barColor}}; 
    "></div>  
  </div>
  </div>
  
    
  </div>
  <div class="window" id="List">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Weight Column -->
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> Username</th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef> Comments </th>
        <td mat-cell *matCellDef="let element"> {{element.comments}}    
        </td>
      </ng-container>
  
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef> Rate </th>
        <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    
  </div>

  <div class = " robot">
    <img id="robot" src="../assets/robot.gif" alt="icon">
      <div class ="speech_bubble_overview">
        <p id = "speechTextOverview">{{speechBubbleText}}</p>
      </div>
  </div>  

</div>

